<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/assets/css/successful.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="card text-center form-card shadow p-3 mb-5 bg-white rounded"
        style="width: 35rem; height: 400px !important;">
        <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
        <div class="card-body text-center">
          <h2 class="card-title form-title" style="text-align: center;">
            {{type}}
          </h2>
          <hr />
          <br />
          <p>{{status}}</p>
          <a href="{{link}}">{{label}}</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>